<nav class="navbar navbar-inverse navbar-fixed-top" id="header">
    <div class="container">

        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
          	</button>


    	<div class="navbar-header">

          	<a class="navbar-brand" href="<%= root_url %>">CLAIRVOYANT</a>

        </div>

        <div id="navbar" class="navbar-collapse collapse">      
        	<ul class="nav navbar-nav navbar-right">  			    
        		<li><a href="#">how it works</a></li>
        		<li><a href="#">community</a></li>
        		<li><a href="#" class="btn btn-danger">sign up</a></li>
        	</ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>